html, body {
    margin: 0;
    padding: 0;
} 

#app {
    background-color: #666666;
    margin: 0;
    padding: 0;
}

#viewport {
    width: 100vw;   /*to be set via js*/
    height: 100vh;  /*to be set via js*/
    display: block;
}