body {                              /* styling the body part of the page */
    font-family: Arial, sans-serif; /* setting-up the default fonts */
    background: white;            /* default background color of the page */
    padding: 20px;                  /* default inner spacing */
}

section {                           /* styling each content section (card-like blocks) */
    background: white;            /* sets the section's BG color */
    border: 1px solid gainsboro;  /* adds light border around the section */
    border-radius: 10px;            /* rounds corners */
    padding: 16px;                  /* sets inner spacing inside section */
    margin-bottom: 10px;            /* setting the space between sections */
}    

details {
    margin: 10px 0;
}

summary {
    display: list-item;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 16px;
}
     
.exampleBox {                       /* styling example/demo boxes */
    border: 1px  #aaa;      /* dashed border to visually separate demo content */
    padding: 10px;                  /* inner spacing inside demo box */
    margin-top: 10px;               /* space above the demo box */
}

.resultBlock {
    border: 1px solid #aaa;
    border-top: none;      
    padding: 10px;
    padding-top: 1px;
    padding-left: 15px;              
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.codeBlock {
    background: #eee;
    border: 1px solid #aaa;
    padding: 10px;
    padding-left: 15px;
}



